@import url('https://fonts.googleapis.com/css2?family=Alike&family=Roboto:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 10px;
    background-color:  bisque;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;        
}
.card-img {
    width: 400px;
    border: 10px solid #9a4f32;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}

.logo {
    width: 160px;
}

.social {
    width: 40px;
    text-align: center;
}
#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #999;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #999; 
    color: #0b0300;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #999;
    color: white;
}
nav a:hover {
    background-color: #0b0c08;
    color: white;
}
footer a {
    background-color: #999;
    color: black;
    text-decoration: none;
}
footer a:hover {
    background-color: #999;
}
.msg {
    background-color:  bisque;
    color: #0b0c08;
    padding: 35px;
    line-height: 1.5em;
    font-size: 18px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;

}
nav a:hover {
    background-color: #0b0c08;
    color: white;
}

.icon {
    width: 80px;
    padding-top: 10px;
}
.book, .join {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
book:hover, join:hover {
    background-color: black;
    color: #999;
}
footer h3 a:hover {
    text-decoration: underline;
}
.home-title {
    font-family: 'Alike', 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
.msg p {
    font-size: 18px;
    padding-bottom: 15px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
/* styling for page 2 (explore our offers) starts here */

.book2, .join2 {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 5px #0f0235;
}
.button-box2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    padding: 10px;
    background-color:  rgba(237, 233, 233, 0.449);
    box-shadow: 2px 2px 2px 5px #0f0235;
    
}
.msg2 .msg3 {
    background-color:  bisque;
    color: #0f0235;
    padding: 35px;
    line-height: 1.2em;
    font-size: 12px;
    box-shadow: 5px 5px 10px black;
}
#salmon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    justify-content: space-around;
    gap: 10px 10px;
   
}
#salmon-box {
    grid-column: 1/5;
    grid-row: 1/6;
    margin: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px 10px #0f0235;
}
#salmon-text {
    grid-column: 5/7;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
    font-size: medium;
    font-style: oblique;
    margin-left: 10px;  
    margin: 5px;
    background-color: rgb(213, 213, 219); 
    padding-left: 5px;
    box-shadow: 5px 5px 5px 0 #0f0235;
    
}
#salmon-img {
    align-self: stretch;
    width: 100%;
}
.canyon-rates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1200px;   
}
.rates-dates {
    grid-column: 1/3;
    grid-row: 1/6;
    width: 100%;
    height: auto;
    font-style: italic;
    background-color: rgb(213, 213, 219); 
    font-size: large;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 5px 5px 5px 10px #0f0235;
}
#canyon-img {
    grid-column: 3/6;
    grid-row: 3/6;
    height: 100%;
    width: 100%;
    display: block;
    box-shadow: 5px 5px 5px 5px #0f0235;
}
#canyon2-img {
    grid-column: 5/6;
    grid-row: 1/3;
    height: 160px;
    width: 240px;
    display: block;
    box-shadow: 5px 5px 5px 5px #0f0235;
}

.grand-canyon {
    grid-column: 3/5;
    grid-row: 1/3;
    height: 160x;
    width: auto;
    display: block;
    font-size: small;
    text-align: right;
    padding: 10%;
}
/* styling for contact us page */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}