#content {
    max-width: 1600px;
    width: 60%;
    margin: 0 auto;
}
nav {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #9a4f32;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}
img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 4px solid steelblue;
}

.logo {
    width: 80px;
}

.social {
    width: 40px;
}
#hero-msg {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #999;
}
body {
    background-color: #999; 
    color: #0b0300;   
}
header {
    background-color: #999;
    color: white;
}
nav a:hover {
    background-color: #0b0c08;
    color: white;
}
footer a {
    background-color: #9a4f32;
    color: black;
    text-decoration: none;
}
footer a:hover {
    background-color: #999;
}
.msg {
    background-color: #999;
    color: #0b0c08;
}
nav a:hover {
    background-color: #0b0c08;
    color: white;
}
.icon {
    width: 80px;
}
.book, .join {
    background-color: #999;
    color: black;
    text-decoration: none;
}
book:hover, join:hover {
    background-color: black;
    color: #999;
}