@import url('https://fonts.googleapis.com/css2?family=Alike&family=Roboto:wght@500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: right;
    text-align: right;
    vertical-align: text-bottom;
    color: #56a3a6;
    padding: 10px;
    background-color: #db504a;
    height: 150px;
}
.link {
    color: white;
    margin-left: 100px;
}
nav a {
    text-align: center;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 35px;
    font-size: larger;
}
.logo {
    width: 200px;
    justify-self: center;
    align-self: center;
    margin-left: 100px;
    margin-right: 5px;
}
#logo_link {
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f8f8f8;
}
#hero {
    max-width: 1500px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}
#hero-box {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-top: 10px;
    margin-right: 5px;
    justify-content: space-around;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: right;
    font-family: 'Alike';
    z-index: 1;
}
.deliver {
    font-size: xx-large;
    color: black;
}

#break-through {
    font-size: large;
    color: white;
    background-color: blue;
    text-align: end;
}
#hero2 {
    max-width: 1500px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
    background-color: lightblue;
}
#hero2-box {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-right: 15px;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px black
}
#hero2-img {
    width: 100%;
    height: 350px;
}
#hero2-msg {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 300px;
    margin-top: 40px;
    max-height: 280px;
    margin-left: 80px;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: #f8f8f8;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    box-shadow: 5px 5px 10px black;
}
.deliver1 {
    color:  #56a3a6;
}
#increase {
    color: #db504a;
}
.home-grid {
    max-width: 1500px;
    max-height: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    background-color: lightblue;
}
.achieve {
    width: 100%;
    height: 80%;
    box-shadow: 5px 5px 10px black;
    margin-left: 10px;
}
body {
    background-color: #f8f8f8;
}
.ucc-card {
    grid-column: 1/2;
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
}
.drone-card {
    grid-column: 2/3;
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
}
.consumable-card {
    grid-column: 3/4;
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
}
.logistics-card {
    grid-column: 4/5;
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
}
.inscribe {
    font-size: medium;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    color: black;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    z-index: 1;
    font-weight: 400;
}
.kpi {
    max-width: 1500px;
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #56a3a6;
}
.kpi-card {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    justify-content: space-around;
}
.kpi-img {
    width: 100%;
    box-shadow: 5px 5px 10px black;
}
.intro {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: x-large;
    color: black;
    margin-top: -250px;
    margin-left: 600px;
    z-index: 1;
}
main {
    background-color: snow;
}
/*     page 2    */

#core-areas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f8f8f8;
    max-width: 150px;
    max-height: 1000px;
    margin-bottom: 50px;
    
}
#delivery {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 510px;
    height: 333px;
    margin-right: 10px;
}
#training {
    grid-column: 3/6;
    grid-row: 2/5;
    width: 510px;
    height: 333px;
    margin-right: 10px;
}
#warehouse {
    grid-column: 5/8;
    grid-row: 3/6;
    width: 510px;
    height: 333px;
    margin-right: 10px;
}
#LMD-img #training-img #warehouse-img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px black;
    border: 10px solid #9a4f32;
}
#warehouse:hover {
    opacity: .6;
    transform: scale(1.1);
}
#delivery:hover {
    opacity: .6;
    transform: scale(1.1);
}
#training:hover {
    opacity: .6;
    transform: scale(1.1);
}
.deliver2 {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: large;
    color: white;
    margin-top: -60px;
    margin-left: 10px;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #db504a;
    text-decoration: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    color: white;
}
nav a:hover {
    background-color:  #56a3a6;
    color: white;
    height: 50px;
}
a:hover {
    background-color: #084C61;
    color: white;
}
.social {
    width: 40px;
    text-align: center;
}
.contact {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.home-grid #hero2 {
    background-color: #56a3a6;;
}
.foot {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
}